---
version: '3.8'
services:
  db:
    image: postgres:15.2-bullseye
    restart: always
    environment:
      POSTGRES_PASSWORD: TEST_PASSWORD
      POSTGRES_USER: TEST_USER
      POSTGRES_DB: USER_DB
    ports:
      - 5432:5432
